

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidevav mode="push">
        <mat-toolbar color="primary">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidevav.toggle()">

                    <mat-icon>menu</mat-icon>

            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./barras"
               mat-list-item
               (click)="sidevav.toggle()">
       
               <mat-icon mat-list-icon>leaderboard</mat-icon>
              
               <span>Grafica de Barras</span>
            </a>
            <a routerLink="./donas"
            mat-list-item
            (click)="sidevav.toggle()">
                <mat-icon mat-list-icon>shield</mat-icon>
                
                <span>Grafica de Dona</span>
            </a>
         <a routerLink="./todas"
         mat-list-item
         (click)="sidevav.toggle()">
             <mat-icon mat-list-icon>content_paste</mat-icon>
             
         <span>Todas las graficas</span>
      </a>

            <a routerLink="./rendimiento-individual"
               mat-list-item
               (click)="sidevav.toggle()">

            <mat-icon mat-list-icon>label</mat-icon>
            
            <span>Rendimiento individual</span>
            </a>

        </mat-nav-list>


    </mat-sidenav>


    <mat-toolbar color="primary">
        <button mat-icon-button
                (click)="sidevav.toggle()"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button
                routerLink="../mapas/marcadores"
                >

               
            Ir a mapas
        </button>

    </mat-toolbar>

 

        <div class="container">
        <router-outlet></router-outlet>
        </div>

</mat-sidenav-container>


