<h1>Empleados</h1>
<mat-divider></mat-divider>

<mat-grid-list cols="1" rowHeight="200px"
               *ngIf="!dataSource;">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
  
  </mat-grid-list>


 
  
  
  

<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" 
           placeholder="Ex. Mia"
           #input 
           autocomplete="off">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="mes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> mes </th>
        <td mat-cell *matCellDef="let row"> {{row.meses }} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> valor </th>
        <td mat-cell *matCellDef="let row"> {{row.valor | currency }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontró nada con el termino "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
